
<!-- <div class="col-md-10 col-md-offset-1 text-center">
                <h2>CART</h2>
<table class="table table-condensed" style="vertical-align:middle">
                    <tr>
                        <td class="cartImg">
                            <img src="/img/bachelorSquare.jpg" height="50px">
                        </td>
                        <td class="cartName" style="vertical-align:middle">
                            <h5>The Bachelor</h5>
                        </td>
                        <td class="cartQty" style="vertical-align:middle">
                            <h6>QTY: 2</h6>
                        </td>
                        <td class="cartPrice" style="vertical-align:middle">
                            <h6>$6</h6>
                        </td>
                        <td class="cartRemove" style="vertical-align:middle">
                            <a href="#">REMOVE</a>
                        </td>
                        <tr>
                            <tr>
                                <td class="cartImg" style="vertical-align:middle">
                                    <img src="/img/beardbalmSquare.jpg" height="50px">
                                </td>
                                <td class="cartName" style="vertical-align:middle">
                                    <h5>Beard Balm</h5>
                                </td>
                                <td class="cartQty" style="vertical-align:middle">
                                    <h6>QTY: 1</h6>
                                </td>
                                <td class="cartPrice" style="vertical-align:middle">
                                    <h6>$11</h6>
                                </td>
                                <td class="cartRemove" style="vertical-align:middle">
                                    <a href="#">REMOVE</a>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td style="text-align:right;">SHIPPING
                                    <br> TOTAL
                                </td>
                                <td>
                                    <strong>$5</strong>
                                    <br> <strong>$28</strong>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><button class="btn">CHECKOUT</button></td>
                                <td></td>
                            </tr>
                </table>
            </div> -->
<!-- <div class="col-md-10 col-lg-10 col-md-offset-1 text-center"> -->
  <!--               <h2>CART</h2>
  {{#each cartItems}}
    {{this.item.product}}
    {{this.item.price}}
    {{#each this.item.Images}}
      <img src="{{this.url}}"/>
    {{/each}}
    
  {{/each}}
</div> -->




<div class="container">

  <div class="row content">
    <div class="col-md-10 col-md-offset-1 text-center">

        <h2>YOUR CART</h2>
        <p>Have a nice day!</p>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
           {{#each cartItems}}
              <td><img style="max-height:40px;" src="{{this.item.Images.0.url}}"/></td>
              <td style="text-align:left;">{{this.item.product}}</td>
              <td>${{this.item.price}}</td>
              <td>{{this.qty}}</td>
              <td>${{this.price}}</td>
          
            </tr>
           {{/each}}  
          </tbody>
        </table>
   </div>
  </div>

  <div class="row content">
      <div class="col-md-4 col-md-offset-6 text-center">
        <h2>Cart Totals</h2>
        
        <table class="table">

          <tbody class="text-left">
            <tr>
              <td>Total Items</td>
              <td>{{CartTotals.cart.totalQty}}</td>
              
            </tr>
            <tr>
              <td>Cart Subtotal</td>
              <td>${{CartTotals.cart.totalPrice}}</td>
              
            </tr>
            <tr>
              <td>Shipping</td>
              <td>$5</td>
              
            </tr>
            <tr>
              <td>Order Total</td>
              <td>${{CartTotals.cart.plusShipping}}</td>
              
            </tr>
            
          </tbody>
        </table>

        <a href="/checkout" class="btn" style="padding:15px;">Checkout</a>

   </div>

</div>

</div>
<!-- </div> -->
<!--      <style>
table, th, td {
    border: 1px solid black;
}
</style> -->



