<div class="col-md-10 col-md-offset-1 text-center">
                <h2>PRODUCTS</h2>
                <br>
                <!-- row 1 -->
                <div class="row">
                    {{#each products}}
                    <div class="col-md-4 text-left productItem" value = "{{this.id}}">
                        <a href="products/{{this.product}}">
                            <img src="{{this.Images.0.url}}"/>
                        </a>
                        <br>
                        <div class="productName" value = "{{this.products}}"> 
                            <strong>{{this.product}}</strong>
                        </div>
                        <div class="productPrice" value = {{this.price}}>Price: ${{this.price}}</div>
                    </div>
                    {{/each}}
                    <!-- <div class="col-md-4 text-left productItem">
                        <a href="products/Peppermint and Tea Tree Oil Goats Milk Soap">
                            <img src="/img/peppermintSquare.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Peppermint & Tea Tree Oil </strong>
                            <br>Goats Milk Soap</div>
                        <div class="productPrice">$6</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="products/The Bachelor Goats Milk Soap">
                            <img src="/img/bachelorSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Bachelor </strong>
                            <br>Goats Milk Soap</div>
                        <div class="productPrice">$6</div>
                        <br>
                    </div>
                </div>
             
                <div class="row">
                    <div class="col-md-4 text-left productItem">
                        <a href="products/Sandalwood Bourbon Goats Milk Soap">
                            <img src="/img/sandalwoodbourbonSquare.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Sandalwood Bourbon</strong>
                            <br>Goats Milk Soap</div>
                        <div class="productPrice">$6</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="products/Beard Balm">
                            <img src="/img/beardbalmSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Beard Balm</strong>
                        </div>
                        <div class="productPrice">$11</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="products/Tobacco Vanilla Soy Candle">
                            <img src="/img/tobaccocandleSquare.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName"><strong>Tobacco & Vanilla</strong>
                            <br>Soy Candle</div>
                        <div class="productPrice">$10</div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-4 text-left productItem">
                        <a href="products/Shaving Soap Set">
                            <img src="/img/shavesoapsetSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>Shaving Soap Set</strong>
                        </div>
                        <div class="productPrice">$16</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="products/The Wanderers Crate!">
                            <img src="/img/crate.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Wanderers Crate</strong></div>
                        <div class="productPrice">$100</div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="products/The Explorers Crate">
                            <img src="/img/explorerscrate.jpg" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Explorers Crate</strong></div>
                        <div class="productPrice">$60</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-left productItem">
                        <a href="products/The Adventurers Crate">
                            <img src="/img/adventurecrateSquare.jpg" width="100%" class="productImage">
                        </a>
                        <br>
                        <div class="productName">
                            <strong>The Adventurers Crate</strong>
                        </div>
                        <div class="productPrice">$35</div>
                        <br>
                    </div> 
                                      <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong></strong></div>
                        <div class="productPrice"></div>
                        <br>
                    </div>
                    <div class="col-md-4 text-left productItem">
                        <a href="#">
                            <img src="" width="100%">
                        </a>
                        <br>
                        <div class="productName">
                            <strong></strong></div>
                        <div class="productPrice"></div>
                    </div> -->
                </div>
            </div>